# Virtual environment
.venv/

# Node
node_modules/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Local test data
data/

# Local test scripts
test_*.py

# Local model files
*.pt
*.onnx
*.engine